<template name="posts">
    <div class="row">
        {{#if currentUser}}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#postModal">
                Click to post a message
            </button>
        {{/if}}
        <!-- Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Post your thought</h4>
                    </div>
                    <div class="modal-body">

                        {{#autoForm collection="posts" id="postForm" type="insert"}}
                            {{> afQuickField name="body" rows=4}}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        {{/autoForm}}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {{#each posts}}
        <div class="row post">
            <div class="col-md-1">
                <img src="{{getProfileImage userId}}" alt="Profile picture" id="profile-picture">
            </div>
            <div class="col-md-11">
                <p>Posted by {{username}} on {{createdAt}}</p>
                <p>{{body}}</p>
            </div>

        </div>
    {{else}}
        <p>No post to show</p>
    {{/each}}

</template>
